<html>
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="/assets/js/article-page.js"></script>
  </head>
  <body onload="loadArticle('{{.ID}}')">
    <h1 id="article-title">{{.Title}}</h1>
    <div id="article-content">
      <p>{{.Body}}</p>
    </div>
    <div id="article-favorite"></div>
    <div id="article-collection"></div>
    <div id="article-homepage">
      <a href="/">Return home</a>
    </div>
  </body>
</html>
