<html>
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js">
    </script>
    <!--External js files that you put onto the server - note where the slashes are-->
    <script src="/assets/js/homepage.js"></script>
    <script src="/assets/js/favorites.js"></script>
    <script src="/assets/js/collections.js"></script>
    <style>
    body {
      font-family: Verdana, Arial, sans-serif;
    }
    h1 {
      color: blue
    }
    </style>
  </head>
  <body onload="loadArticles(); getCollections('list');">
    <h1>Article Manager</h1>
    <h2>Select your favorite articles</h2>
    <div id="articles"></div>
    <h3>Your favorites:</h3>
    <div id="faves">
      <p id="fave-list"></p>
    </div>
    <h2>Collection Central</h2>
    <div id="collections">
      <div id="collections-list"></div>
      <div id="manage-collections">
        <div id="collections-button">
          <button type="button" onclick="manageCollections()">Manage Collections</button>
        </div>
        <div id="collection-status"></div>
        <div id="edit-collection"></div>
        <div id="add-collection"></div>
        <div id="remove-collection"></div>
      </div>
    </div>
  </body>
</head>
